/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* .mycontainer {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
} */


/* ==== Header ======= */

header {
    padding: 10px 0;
    /* background: #d5e8f6; */
    /* background: #fff; */
}

header .top_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .top_info .top_info_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* min-width: 300px; */
}


/* header .top_info .address {
    max-width: 400px;
    width: 200px;
} */

header .top_info .top_info_item .icon {
    padding: 10px;
    color: #bababa;
    font-size: 2.5rem;
    margin-right: 8px;
}

header .top_info .top_info_item .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #777;
}

header .top_info .top_info_item .info .title {
    color: #000;
    font-weight: 600;
}


/* header .top_info ul li div .info span {
    display: block;
} */


/* 
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.header .header_left {
    max-width: 300px;
    width: 30%;
}

.header .header_left .location {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    align-items: center;
    color: #777;
}

.header .header_left .location span {
    font-size: 2.5rem;
    color: #0108f7;
    padding-right: 10px;
}



.header .header_center .imgLogo {
    background: #fff;
    max-width: 500px;
    min-width: 360px;
    text-align: center;

}

.header .header_center img {
    max-width: 180px;
    padding: 3px;
}



.header .header_right {
    width: 30%;
    max-width: 300px;
}

.header .header_right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.header_right p {
    font-style: italic;
    margin-bottom: 0px;
    padding: 0px;
    color: #777;
}

.header_right .top_contact {
    font-size: 2rem;
    color: #0108f7;
    display: flex;
    align-items: center;
}

.header_right .top_contact span {
    background-color: #0108f7;
    color: #eee;
    padding: 5px 8px;
    font-size: 1rem;
    border-radius: 5px;
    margin-right: 10px;
}
 */


/* ====== Nav ======= */

#menu {
    /* background: #d5e8f6; */
    /* background: #fff; */
    background: #0108f7;
}

.menu {
    background: #0108f7;
    color: #eee;
    display: flex;
    line-height: 3rem;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;
    position: relative;
    border-radius: 5px;
    z-index: 999;
}

.menu a,
.menu a:active,
.menu a:visited {
    color: #fff;
    text-decoration: none;
}

.menu .av ul {
    display: flex;
    align-items: center;
}


/**********************/

.close-btn {
    display: none;
    color: #eee;
    font-size: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
}


/**********************/


/**********************/

#nav {
    position: relative;
}

#nav ul {
    align-items: center;
    background: rgba(0, 0, 0, 0.95);
    color: #eee;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    height: 0;
    justify-content: center;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    pointer-events: none;
    position: fixed;
    transition: all 0.5s;
    top: 0;
    will-change: opacity;
    width: 100vw;
    align-items: center;
}

#nav ul li {
    list-style: none;
    padding: 1rem 0;
    text-transform: uppercase;
}

#nav:target ul {
    height: 100vh !important;
    left: 0;
    opacity: 1;
    top: 0;
    width: 100vw !important;
}

#nav:target .close-btn {
    display: block;
    position: fixed;
}

@media screen and (min-width: 768px) {
    #responsive-menu-trigger,
    #close-menu {
        display: none;
    }
    #nav ul,
    #nav:target ul {
        background: none;
        display: inline-flex;
        flex-direction: row;
        height: auto !important;
        opacity: 1;
        padding: 0;
        pointer-events: initial;
        position: static;
        transition: none;
        width: auto !important;
    }
    #nav ul li,
    #nav:target ul li {
        padding: 0;
    }
    #nav ul li a,
    #nav:target ul li a {
        text-decoration: none;
        font-size: 1rem;
        padding: 0.8rem;
        color: #eee;
    }
    #nav .close-btn,
    #nav:target .close-btn {
        display: none;
    }
}


/* social icons */

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__icons a {
    padding: 5px;
    transition: all .3s ease-out;
    font-size: 1.2rem;
}

.social__icons a:hover {
    color: #fff;
    transform: translate(0, -10px);
}


/* ======= Banner ===== */

#hero {
    background: red;
    height: 680px;
    overflow: hidden;
    /* margin-top: -25px; */
}

#hero img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}


/* ===== About Section ==== */

#about__section {
    padding: 3rem 0;
    position: relative;
    opacity: 1;
}


/* #about__section::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/eye.png)no-repeat left center;
    background-size: contain;
    background-attachment: fixed;
    opacity: .2;
} */

#about__section::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../images/eye.png)no-repeat left center;
    background-size: contain;
    background-attachment: fixed;
    opacity: .2;
    z-index: -1;
}

#about__section .about {
    opacity: 1;
    padding-right: 2.5rem;
}

#about__section .about h4 {
    position: relative;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 15px;
    margin: 1.5rem 0;
}

#about__section .about h4::after {
    position: absolute;
    content: "";
    top: 36px;
    left: 0;
    width: 50px;
    height: 1px;
    background: rgb(255, 0, 0);
}

#about__section .about h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#about__section .about h1 span {
    color: rgb(255, 0, 0);
}


/* Quick Book */

#about__section .quick_book {
    background: #0108f7;
    color: #eee;
    position: relative;
    top: -135px;
    min-height: 400px;
    padding: 4rem 2rem;
    padding-top: 2.5rem;
    max-width: 365px;
    border-radius: 2px;
}

#about__section .quick_book h4 {
    position: relative;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 15px;
}

#about__section .quick_book h4::after {
    position: absolute;
    content: "";
    top: 32px;
    left: 0;
    width: 50px;
    height: 1px;
    background: #eee;
}

#about__section .quick_book h1 {
    color: #eee;
    font-size: 2.5rem;
}

#about__section .quick_book p {
    margin-bottom: 30px;
    margin-top: 20px;
}


/* The container must be positioned relative: */

.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    /* display: none; */
    /*hide original SELECT element: */
    width: 85%;
    padding: 0.55rem 1rem;
    background: transparent;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 5px;
    color: #eee;
    background-color: rgb(0, 8, 255);
    background-image: none;
    cursor: pointer;
    outline: none;
}

.select-selected {
    background-color: DodgerBlue;
    padding: 1rem;
    background: red;
}


/* Style the arrow inside the select element: */

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: rgb(144, 144, 144) transparent transparent transparent;
}


/* Point the arrow upwards when the select box is open (active): */

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}


/* style the items (options), including the selected item: */

.select-items div,
.select-selected {
    color: #ffffff;
    /* background: red; */
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(188, 188, 188, 0.1) transparent;
    cursor: pointer;
}


/* Style items (options): */

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}


/* Hide the items when the select box is closed: */

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(147, 147, 147, 0.1);
}


/* === Services ===== */

#services {
    background: #d5e8f6;
    padding: 5rem 0;
}

.service {
    text-align: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
}

.service .service_item {
    padding: 3rem 2rem;
}

.service:nth-child(1)::after,
.service:nth-child(2)::after,
.service:nth-child(4)::after,
.service:nth-child(5)::after {
    content: '';
    height: 60%;
    width: 1px;
    position: absolute;
    right: 0;
    top: 50%;
    background-color: #c3d6e5;
    transform: translateY(-50%);
}

.service .imgBox {
    font-size: 2rem;
    max-width: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.service .imgBox img {
    width: 100%;
}

.service h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.service h2::after {
    position: absolute;
    content: "";
    top: 35px;
    left: 50%;
    width: 50px;
    height: 1px;
    background: rgb(255, 0, 0);
    transform: translateX(-50%);
}

.service p {
    margin-bottom: 2rem;
}

.service a {
    font-size: .95rem;
    border: 1px solid #334e9b;
    padding: 5px 18px;
    text-decoration: none;
    color: #000;
    border-radius: 25px;
    transition: all 0.5s;
}

.service a:hover {
    background: #334e9b;
    color: #eee;
}


/* ===== Testimonials ====== */

#testimonails {
    padding: 6rem;
    position: relative;
    background: #000;
    color: #eee;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 9;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

#testimonails::after {
    background: url(../images/test_bg.JPG)no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    opacity: .2;
}


/* New Testimonials  */

.testimonial {
    /* margin: 0px 50px 30px; */
    background-color: transparent;
    color: #fff;
    text-align: center;
    border-left: 1px solid rgb(138, 138, 138);
    border-right: 1px solid rgb(138, 138, 138);
    padding: 40px 40px 40px;
    position: relative;
    font-weight: 200;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.testimonial:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 1px;
    background-color: rgb(138, 138, 138);
}

.testimonial:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 1px;
    background-color: rgb(138, 138, 138);
}

.testimonial .testimonial-content {
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 200;
}

.testimonial .pic {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 15px;
    border: 1px solid #0108f7;
}

.testimonial .pic img {
    width: 100%;
    height: 100%;
}

.testimonial .testimonial-title {
    display: inline-block;
}

.testimonial .testimonial-title a {
    display: block;
    color: #0108f7;
    font-size: 1.2rem;
    margin-bottom: 0px;
    text-transform: Uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.testimonial .testimonial-title small {
    font-size: 15px;
    font-style: italic;
    color: #919191;
}

.owl-theme .owl-controls {
    margin-top: 15px;
    margin-left: 20px;
}

.owl-theme .owl-controls .owl-page span {
    height: 12px !important;
    width: 12px !important;
    background-color: #eee !important;
    opacity: 0.8;
    border-radius: 0 !important;
    transform: rotate(45deg) !important;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #0108f7 !important;
}


/* ====== Footer Section ======= */

footer {
    width: 100%;
    height: 400px;
    background: #262f36;
    padding: 4rem 0;
    color: rgb(181, 181, 181);
}

footer .footer {
    padding-right: 15px;
}

footer .footer h4 {
    font-size: 1.6rem;
    color: rgb(210, 210, 210);
    margin-bottom: 25px;
}

.footer_social ul {
    margin: 0;
    padding: 0;
}

.footer_social ul li {
    display: inline-block;
    padding: 4px;
    color: #eee;
}

.footer_social ul li a {
    color: #eee;
}


/* === Copyright === */

.copyright {
    background: #262f36;
    padding: 1rem 0;
    color: rgb(181, 181, 181);
    font-size: .85rem;
    box-shadow: 2px 5px #f000;
}


/* ======= Meida Queries ===== */


/* @media screen and (min-width: 480px) {
    .header .header_left,
    .header .header_right {
        display: none;
    }
} */